---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-instance
spec:
  chartRef:
    kind: OCIRepository
    name: flux-instance
  interval: 1h
  values:
    instance:
      distribution:
        artifact: oci://ghcr.io/controlplaneio-fluxcd/flux-operator-manifests:v0.38.1
        version: 2.x
      components:
        - source-controller
        - kustomize-controller
        - helm-controller
      kustomize:
        patches:
          - patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --sops-age-secret=flux-sops
            target:
              kind: Deployment
              name: kustomize-controller
      sync:
        kind: "GitRepository"
        url: "https://github.com/OriSum/home-ops.git"
        ref: "refs/heads/main"
        path: "./kubernetes/apps"
        interval: 1h